[submodule "vim/pack/all/start/ale"]
	path = vim/pack/all/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/all/start/vim-airline"]
	path = vim/pack/all/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/all/start/vim-airline-themes"]
	path = vim/pack/all/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/all/start/vimux"]
	path = vim/pack/all/start/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/pack/all/start/nerdtree"]
	path = vim/pack/all/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/all/start/vim-fugitive"]
	path = vim/pack/all/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/all/start/vim-mucomplete"]
	path = vim/pack/all/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "coc-git"]
	path = coc-git
	url = https://github.com/neoclide/coc-git.git
[submodule "vim/pack/all/start/vim-fugutive"]
	path = vim/pack/all/start/vim-fugutive
	url = https://github.com/tpope/vim-fugitive.git
