!
!Material nomral
!
*.foreground:  #f1f1f1
*.background:  #eaeaea
*.cursorColor: #16afca
! Black
*.color0:      #212121
*.color8:      #424242
! Red
*.color1:      #b7141f
*.color9:      #e83b3f
! Green
*.color2:      #457b24
*.color10:     #7aba3a
! Yellow
*.color3:      #f6981e
*.color11:     #ffea2e
! Blue
*.color4:      #134eb2
*.color12:     #54a4f3
! Magenta
*.color5:      #560088
*.color13:     #aa4dbc
! Cyan
*.color6:      #0e717c
*.color14:     #26bbd1
! White
*.color7:      #efefef
*.color15:     #d9d9d9
! Bold, Italic, Underline
*.colorBD:     #b7141f



URxvt*font:  xft:Roboto Mono-Regular:pixelsize=12,xft:DejaVu Sans:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=17,
URxvt*letterSpace: 0
URxvt*termName: xterm-256color
URxvt*loginShell:  true
urxvt*scrollBar: 		false
URxvt*saveLines:  65535
urxvt*matcher.button: 		1
urxvt.transparent: 		true
urxvt.shading:			30
urxvt*depth: 			32
urxvt*thickness:    100
Xft*dpi: 			96
Xft*hinting: 			false
Xft*hintstyle: 			hintfull
!URxvt*background: 	  [100]#212121
URxvt*background: 	  [95]#262626

Xft*rgba: 			rgb
*internalBorder: 		5
URxvt*fading: 			10
URxvt*inheritPixmap: 		false
URxvt*scrollWithBuffer:     false

URxvt.iso14755: false
URxvt.iso14755_52: false


URxvt.perl-ext-common:    default,


URxvt.keysym.C-v: eval: paste_clipboard
URxvt.keysym.C-c: eval: selection_to_clipboard



rofi.lines: 6
rofi.eh: 1
rofi.bw: 0
rofi.font: System Roboto Mono 18
rofi.show-match: false
rofi.padding: 340
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:c2262626, argb:cc2f343f, argb:cc2f343f

rofi.color-normal: argb:002f343f, #ffffff, argb:002f343f, argb:002f343f, #9575cd
